.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    cursor: pointer;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.active-card {
  /* margin-left: 16px; */
  cursor: pointer;
  border: 2px solid rgb(33, 150, 243);
}

.position-relative {
  position: relative;
}

.overflow-inherit {
  overflow: inherit !important;
}

.position-remove-circle {
  position: absolute !important;
  top: -19px;
  right: -16px;
}

.p-2 {
  padding: .5rem !important;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.MuiTableRow-root.Mui-selected, .MuiTableRow-root.Mui-selected:hover {
  background-color: rgba(245, 0, 87, 0.08) !important;
}

.css-l4u8b9-MuiInputBase-root-MuiInput-root.Mui-error:before {
  border-bottom: 2px solid #d32f2f !important;
}